.side-panel {
    grid-area: side-panel;
    background-color: $panel-background-color;
    color: $panel-color;
    user-select: none;
    overflow: hidden;

    & > div {
        height: 100%;
        display: grid;
        grid-template-rows: 40px auto;
        grid-template-areas: 'header' 'items';
    }

    & > div > div.shadow {
        box-shadow: 0px 0px 4px 2px #000000;
    }

    & > div > div:nth-child(1) {
        grid-area: header;
        background-color: $body-background-color;
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: auto min-content;
        display: grid;

        & > div {
            margin-top: auto;
            margin-bottom: auto;
        }
        & > div > .btn {
            border: 1px $ctx-menu-bck-color;
            padding: 3px;
            cursor: pointer;
            display: none;
        }
        & > div > .btn:active {
            border-style: inset;
        }
    }

    & > div > div:nth-child(1):hover {
        & > div > .btn {
            display: initial;
        }
    }

    & > div > div:nth-child(2) {
        grid-area: items;
        overflow-y: scroll;
        overflow-x: hidden;
        padding-left: 10px;
        font-size: 13px;

        & > div {
            padding-top: 5px;
            padding-bottom: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    & > div > div:nth-child(2)::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    & > div > div:nth-child(2)::-webkit-scrollbar-track {
        border-radius: 2px;
        background: transparent;
    }
    & > div > div:nth-child(2)::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px #7a7a7a; 
        border-radius: 2px;
    }
}
