.side-panel {
    grid-area: side-panel;
    background-color: $panel-background-color;
    color: $panel-color;
    user-select: none;
    overflow: hidden;

    & > div {
        height: 100%;
        text-align: center;
    }
}
