.side-panel {
    grid-area: side-panel;
    background-color: $panel-background-color;
    color: $panel-color;
    user-select: none;
    overflow: hidden;

    & > div {
        height: 100%;
        display: grid;
        grid-template-rows: 40px auto;
        grid-template-areas: 'header' 'items';
    }

    & > div > div.shadow {
        box-shadow: 0px 0px 4px 2px #000000;
    }

    & > div > div:nth-child(1) {
        grid-area: header;
        background-color: $panel-header-background-color;
        padding-left: 10px;
        padding-right: 10px;
        grid-template-columns: auto min-content;
        display: grid;

        & > div {
            margin-top: auto;
            margin-bottom: auto;
        }
        & > div > .btn {
            font-size: 14px;
            border: 1px $ctx-menu-bck-color;
            padding: 3px;
            cursor: pointer;
            display: none;
        }
        & > div > .btn.active {
            display: initial; 
            box-shadow: 0 2px 8px #000;
            color: $ctx-menu-color;
            background-color: $ctx-menu-bck-color;
        }
    }

    & > div > div:nth-child(1):hover {
        & > div > .btn {
            display: initial;
        }
    }

    & > div > div:nth-child(2) {
        grid-area: items;
        overflow-y: hidden;
        overflow-x: hidden;
        font-size: 14px;

        & > div {
            padding-left: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            cursor: pointer;
            border: 1px transparent solid;
        }
        & > div:hover {
            background-color: $panel-item-hover-background-color;
            color: $active-color;
        }
        & > div.active {
            background-color: $panel-item-active-background-color;
            border: 1px $panel-item-active-border-color dotted;
            color: $active-color;
        }
        & > div .item-subtext {
            font-size: 11px;
            margin-top: 2px;
            opacity: 0.6;
            margin-left: 17px;
        }
        & > div .item-comment {
            font-size: 11px;
            opacity: 0.6;
            margin-left: 17px;
            margin-top: 5px;
            font-style: italic;
        }
        & > div div, & > div span {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-bottom: 1px;
        }
    }

    & > div > div:nth-child(2)::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    & > div > div:nth-child(2)::-webkit-scrollbar-track {
        border-radius: 2px;
        background: transparent;
    }
    & > div > div:nth-child(2)::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px #7a7a7a; 
        border-radius: 2px;
    }
}

#scripts-panel-menu > .pgmenu-container, 
#routines-panel-menu > .pgmenu-container, 
#search-panel-menu > .pgmenu-container, 
#tables-panel-menu > .pgmenu-container,
#views-panel-menu > .pgmenu-container {
    clip-path: inset(0px -5px -5px -5px);
}