#results.pane {
    height: 100%;

    & > div.table {

        & > div.th {
            display: table-row;
        }
        & > div.tr {
            display: table-row;
        }

        & .highlight {
            background-color: $grid-cell-highlight-background-color !important;
        }

        & > div.th > div.td {
            background-color: $grid-headers-background-color;
            position: sticky;
            top: 0;
            max-width: 350px;
            & > div {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            & > div:first-child {
                font-weight: bold;
            }
            & > div:last-child {
                font-size: 0.9em;
            }
        }
        & > div.th > div.td,
        & > div.tr > div.td {
            display: table-cell;
            padding: 5px;
            border: 1px #8e8e8e inset;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 350px;
            user-select: none; 
        }
        & > div.th > div.td {
            border-top: 0px !important;
        }

        & > div.th > div.td:first-child {
            position: sticky;
            left: 0;
            z-index: 1;
            border-left: 0px !important;
        }

        & > div.tr > div.td.null {
            color: $grid-mark-color;
        }

        & > div.tr > div.td.th {
            background-color: $grid-headers-background-color;
            position: sticky;
            left: 0;
            font-weight: bold;
            border-left: 0px !important;
        }
    }

    & > div.table::-webkit-scrollbar {
        width: 16px;
    }
    & > div.table::-webkit-scrollbar-track {
        border-radius: 2px;
        background: transparent;
    }
    & > div.table::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px $grid-scroll-color;
        border-radius: 2px;
    } 
    & > div.table::-webkit-scrollbar-button {
        display: none;
    }
    & > div.table::-webkit-scrollbar-corner {
        display: none;
    }
}