#results.pane {
    height: 100%;

    & > div.table {
        /*overflow-y: scroll;*/

        & > div.th {
            display: table-row;
        }
        & > div.tr {
            display: table-row;
        }

        & > div.th > div.td {
            display: table-cell;
            background-color: $grid-headers-background-color;
            padding: 3px;
            border: 2px #8e8e8e outset;
            position: sticky;
            top: 0;
        }

        & > div.tr > div.td {
            display: table-cell;
            padding: 3px;
            border: 2px #8e8e8e outset;
        }

        & > div.tr > div.td.th {
            background-color: $grid-headers-background-color;
        }
    }

    & > div.table::-webkit-scrollbar {
        width: 16px;
    }
    & > div.table::-webkit-scrollbar-track {
        border-radius: 2px;
        background: transparent;
    }
    & > div.table::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 5px $scroll-color;
        border-radius: 2px;
    } 
}