html {
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
  line-height: 1.15; }

body {
  margin: 0;
  color: #1E1E1E;
  background-color: #C5C5C5; }

#loading {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  font-size: 10em;
  text-align: center; }

.out-of-viewport {
  position: absolute;
  top: -1000px;
  left: -1000px; }

.drop-target {
  background-color: #3b3e41 !important; }

@font-face {
  font-family: 'icons';
  src: url("../fonts/icons.woff2?57247429") format("woff2");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-doc:before {
  content: '\e800'; }

.icon-search:before {
  content: '\e801'; }

.icon-menu:before {
  content: '\f0c9'; }

.icon-doc-text:before {
  content: '\f0f6'; }

.icon-terminal:before {
  content: '\f120'; }

.icon-database:before {
  content: '\f1c0'; }

body > div.overlay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-color: black;
  /*display: none;*/
  transition-duration: 1s;
  opacity: 0; }

body > div.container {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 20px; }

.toolbar {
  grid-area: toolbar;
  color: #ADADAD;
  background-color: #333333;
  height: 100%;
  display: grid;
  grid-template-rows: 4px 42px 42px 42px 42px 42px auto 42px 4px;
  grid-template-areas: 'gap1' 'scripts' 'tables' 'views' 'routines' 'search' 'gap2' 'pgcode' 'gap3';
  row-gap: 12px;
  user-select: none;
  overflow-y: overlay; }
  .toolbar > div {
    align-self: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    transition-duration: 0.4s; }
  .toolbar > div.active, .toolbar > div.active > div {
    color: #252526; }
  .toolbar > div.active > div.marker {
    display: block; }
  .toolbar > div > div.lbl {
    font-size: 10px; }
  .toolbar > div > div.marker {
    top: -4px;
    left: 0;
    height: calc(100% + 4px);
    width: 2px;
    /*background-color: $active-color;*/
    display: none;
    /*block;*/
    position: absolute; }
  .toolbar > div > div.count {
    display: block;
    position: absolute;
    top: 15px;
    font-size: 10px;
    background-color: #ADADAD;
    color: #333333;
    right: 6px;
    border-radius: 50%;
    padding: 2px;
    text-align: center;
    width: 10px;
    height: 10px;
    border: 1px #333333 solid;
    transition-duration: 0.4s; }
  .toolbar > div.active > div.count, .toolbar > div:hover > div.count {
    background-color: #252526; }
  .toolbar > div:hover {
    color: #252526; }
  .toolbar > div.btn-scripts {
    grid-area: scripts;
    font-size: 28px; }
  .toolbar > div.btn-tables {
    grid-area: tables;
    font-size: 28px; }
  .toolbar > div.btn-views {
    grid-area: views;
    font-size: 28px; }
  .toolbar > div.btn-routines {
    grid-area: routines;
    font-size: 28px; }
  .toolbar > div.btn-search {
    grid-area: search;
    font-size: 28px; }
  .toolbar > div.btn-pgcode {
    grid-area: pgcode;
    font-size: 28px; }

.toolbar.right > div > div.marker {
  right: 0;
  left: initial; }

.toolbar.docked > div.active:not(.btn-pgcode), .toolbar.docked > div.active > div {
  color: #ADADAD; }

.toolbar.docked > div.active > div.count {
  background-color: #ADADAD;
  color: #333333; }

.toolbar.docked > div.active:not(.btn-pgcode) > div.marker {
  display: none; }

.toolbar::-webkit-scrollbar {
  width: 3px; }

.toolbar::-webkit-scrollbar-track {
  border-radius: 2px;
  background: transparent; }

.toolbar::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px #252526;
  border-radius: 2px; }

.footer {
  grid-area: footer;
  z-index: 1;
  color: #ffffff;
  background-color: #007ACC;
  user-select: none;
  display: grid;
  grid-template-columns: 155px       320px 150px   auto    auto auto auto auto   auto auto    27px;
  grid-template-areas: 'connections info  schemas content lang gap1 msg  editor user version feed'; }
  .footer > div.clickable {
    cursor: pointer; }
  .footer > div.clickable:hover {
    background-color: #1f8ad2; }
  .footer > div {
    line-height: 20px;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden; }
  .footer > div.connections {
    grid-area: connections;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #16825d;
    cursor: pointer;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 155px;
    transition-duration: 0.4s; }
  .footer > div.connections:hover {
    background-color: #329171; }
  .footer > div.info {
    grid-area: info;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 340px;
    cursor: initial;
    user-select: text;
    color: #C5C5C5; }
  .footer > div.info > span::selection {
    background: #ff8533; }
  .footer > div.info > img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 5px; }
  .footer > div.schemas {
    grid-area: schemas;
    padding-left: 5px;
    padding-right: 5px;
    width: fit-content;
    width: -moz-fit-content;
    max-width: 150px;
    transition-duration: 0.4s; }
  .footer > div.schemas > i {
    position: relative;
    top: 1px; }
  .footer > div.feed {
    grid-area: feed;
    text-align: center;
    opacity: 0.5;
    width: 27px;
    transition-duration: 0.4s;
    user-select: none; }
  .footer > div.feed:hover {
    opacity: 1; }
  .footer > .footer > span.icon-database {
    margin-right: 3px; }
  .footer > div.content {
    grid-area: content;
    opacity: 0.75;
    width: fit-content;
    width: -moz-fit-content;
    padding-left: 10px;
    padding-right: 10px; }
  .footer > div.msg {
    width: fit-content;
    width: -moz-fit-content;
    grid-area: msg;
    margin: auto;
    text-shadow: 0px 0px 8px #000000; }
  .footer > div.editor {
    width: fit-content;
    width: -moz-fit-content;
    grid-area: editor;
    opacity: 0.75; }
  .footer > div.editor > span {
    padding-left: 10px;
    padding-right: 10px; }
  .footer > div.lang {
    grid-area: lang;
    opacity: 0.75;
    width: fit-content;
    width: -moz-fit-content;
    cursor: default; }
  .footer > div.lang > span {
    padding-left: 10px;
    padding-right: 10px; }
  .footer > div.version {
    grid-area: version;
    width: fit-content;
    width: -moz-fit-content;
    opacity: 0.75;
    cursor: default; }
  .footer > div.version > span {
    padding-left: 10px;
    padding-right: 10px; }
  .footer > div.user {
    grid-area: user;
    opacity: 0.75;
    width: fit-content;
    width: -moz-fit-content;
    cursor: default; }
  .footer > div.user > span {
    padding-left: 10px;
    padding-right: 10px; }

#feed-footer-menu.footer-menu, #schema-footer-menu, #content-footer-menu {
  background-color: #007ACC; }

#conn-footer-menu > .footer-menu-item > span:nth-child(1),
#schema-footer-menu > .footer-menu-item > span:nth-child(1),
#content-footer-menu > .footer-menu-item > span:nth-child(1) {
  position: absolute; }

#conn-footer-menu > .footer-menu-item > span:nth-child(2),
#schema-footer-menu > .footer-menu-item > span:nth-child(2),
#content-footer-menu > .footer-menu-item > span:nth-child(2) {
  margin-left: 18px; }

.main-panel {
  grid-area: main-panel;
  height: 100%;
  display: grid;
  grid-template-rows: 40px auto;
  grid-template-areas: 'tabs' 'content'; }
  .main-panel > div {
    width: 100%;
    height: 100%; }

.main-panel > div:nth-child(1) {
  grid-area: tabs;
  user-select: none;
  background-color: #252526;
  margin-left: -4px;
  padding-right: 4px;
  display: flex;
  flex-wrap: wrap; }
  .main-panel > div:nth-child(1) > div.tab {
    transition-duration: 0.2s;
    min-width: 100px;
    max-width: 400px;
    display: grid;
    grid-template-columns: 20px auto 20px;
    grid-template-rows: 31px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    overflow: hidden;
    border-right: 1px #C5C5C5 solid;
    border-bottom: 1px #C5C5C5 solid; }
    .main-panel > div:nth-child(1) > div.tab > i, .main-panel > div:nth-child(1) > div.tab > span {
      margin: auto;
      margin-bottom: 6px; }
    .main-panel > div:nth-child(1) > div.tab > span.title {
      margin-left: 5px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 360px;
      padding-bottom: 1px; }
    .main-panel > div:nth-child(1) > div.tab > i.close {
      align-self: end;
      font: inherit;
      visibility: hidden;
      font-size: 14px; }
    .main-panel > div:nth-child(1) > div.tab > i.close:hover {
      visibility: visible; }
    .main-panel > div:nth-child(1) > div.tab > .stripe {
      grid-column: 1/4;
      height: 3px; }
  .main-panel > div:nth-child(1) > div.tab:hover > i.close {
    visibility: visible; }
  .main-panel > div:nth-child(1) > div.tab.active:nth-child(1) {
    clip-path: inset(-5px -5px 0px 0px); }
  .main-panel > div:nth-child(1) > div.tab.active {
    color: #252526;
    background-color: #C5C5C5;
    box-shadow: 0px 0px 4px 2px #000000;
    clip-path: inset(-5px -5px 0px -5px); }
    .main-panel > div:nth-child(1) > div.tab.active > i.close {
      visibility: visible; }
  .main-panel > div:nth-child(1) > div.tab:not(.active) > .stripe {
    display: none; }
  .main-panel > div:nth-child(1) > div.tab.sticky > span.title,
  .main-panel > div:nth-child(1) > div.tab.sticky > i::before {
    font-style: italic;
    width: 100%; }
  .main-panel > div:nth-child(1) > div.tab.active.upper-row {
    clip-path: inset(-5px -5px -5px -5px); }

.main-panel > div:nth-child(2) {
  grid-area: content;
  /*
        .editor {
        }
        */ }
  .main-panel > div:nth-child(2) .split-content {
    display: grid; }
    .main-panel > div:nth-child(2) .split-content > .main-split {
      background: initial;
      margin-left: -3px;
      padding-right: 3px;
      box-shadow: 0px 0px 4px 1px #000000;
      clip-path: inset(-4px 0px 0px 0px); }
  .main-panel > div:nth-child(2) .content {
    height: 100%; }

.focused .current-line-decoration::before {
  content: "\1F418";
  transform: scale(-1, 1);
  text-shadow: 0 0 9px #1f8ad2; }

.selection-decoration {
  color: #252526;
  text-shadow: 0 0 9px #1f8ad2; }

.side-panel {
  grid-area: side-panel;
  background-color: #252526;
  color: #C5C5C5;
  user-select: none;
  overflow: hidden; }
  .side-panel > div {
    height: 100%;
    display: grid;
    grid-template-rows: 40px auto;
    grid-template-areas: 'header' 'items'; }
  .side-panel > div > div.shadow {
    box-shadow: 0px 0px 4px 2px #000000; }
  .side-panel > div > div:nth-child(1) {
    grid-area: header;
    background-color: #C5C5C5;
    padding-left: 10px;
    padding-right: 10px;
    grid-template-columns: auto min-content;
    display: grid; }
    .side-panel > div > div:nth-child(1) > div {
      margin-top: auto;
      margin-bottom: auto; }
    .side-panel > div > div:nth-child(1) > div > .btn {
      font-size: 14px;
      border: 1px #f0f0f0;
      padding: 3px;
      cursor: pointer;
      display: none; }
    .side-panel > div > div:nth-child(1) > div > .btn.active {
      display: initial;
      box-shadow: 0 2px 8px #000;
      color: #252526;
      background-color: #f0f0f0; }
  .side-panel > div > div:nth-child(1):hover > div > .btn {
    display: initial; }
  .side-panel > div > div:nth-child(2) {
    grid-area: items;
    overflow-y: hidden;
    overflow-x: hidden;
    font-size: 14px; }
    .side-panel > div > div:nth-child(2) > div {
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: pointer;
      border: 1px transparent solid; }
    .side-panel > div > div:nth-child(2) > div:hover {
      background-color: #a0a0a0a0;
      color: #252526; }
    .side-panel > div > div:nth-child(2) > div.active {
      background-color: #C5C5C5;
      border: 1px #c5c5c557 dotted;
      color: #252526; }
    .side-panel > div > div:nth-child(2) > div .item-subtext {
      font-size: 11px;
      margin-top: 2px;
      opacity: 0.6;
      margin-left: 17px; }
    .side-panel > div > div:nth-child(2) > div .item-comment {
      font-size: 11px;
      opacity: 0.6;
      margin-left: 17px;
      margin-top: 5px;
      font-style: italic; }
    .side-panel > div > div:nth-child(2) > div div, .side-panel > div > div:nth-child(2) > div span {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      padding-bottom: 1px; }
  .side-panel > div > div:nth-child(2)::-webkit-scrollbar {
    width: 8px;
    height: 8px; }
  .side-panel > div > div:nth-child(2)::-webkit-scrollbar-track {
    border-radius: 2px;
    background: transparent; }
  .side-panel > div > div:nth-child(2)::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px #7a7a7a;
    border-radius: 2px; }

#scripts-panel-menu > .pgmenu-container,
#routines-panel-menu > .pgmenu-container,
#search-panel-menu > .pgmenu-container,
#tables-panel-menu > .pgmenu-container,
#views-panel-menu > .pgmenu-container {
  clip-path: inset(0px -5px -5px -5px); }

.main-split {
  background-color: #C5C5C5;
  width: 100%;
  height: 100%; }

.main-split-v {
  cursor: ew-resize;
  border-right: 1px #ebebeb dotted;
  left: -5px;
  position: relative;
  background-color: transparent;
  z-index: 1; }

.main-split-h {
  cursor: ns-resize;
  border-top: 1px #ebebeb dotted;
  z-index: 1; }

.split-moving {
  border-color: #C5C5C5; }

.pgmenu-container {
  position: absolute;
  z-index: 2000;
  box-shadow: 0 2px 8px #000;
  color: #252526;
  background-color: #f0f0f0; }
  .pgmenu-container .pgaction {
    flex: 1 1 auto;
    text-decoration: none;
    line-height: 1.1em;
    background: none;
    height: 2em;
    display: flex !important;
    align-items: center;
    position: relative !important;
    margin: 1px;
    padding-left: 10px !important;
    padding-right: 6px !important; }
  .pgmenu-container .pgaction:hover:not(.disabled) {
    background-color: #094771; }
  .pgmenu-container .checked {
    position: absolute;
    left: 5px; }

.footer-menu {
  display: none;
  position: fixed;
  background-color: #16825d;
  display: grid;
  max-width: fit-content;
  width: fit-content;
  width: -moz-fit-content;
  box-shadow: 0 2px 8px #000;
  clip-path: inset(-5px -5px 0 -5px); }

.footer-menu-item {
  line-height: 1.9em;
  background: none;
  height: 2em;
  align-items: center;
  margin: 1px;
  padding-right: 10px;
  padding-left: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  cursor: pointer; }

.footer-menu-item:hover:not(.disabled) {
  background-color: #094771; }

.results-pane {
  height: 100%;
  display: grid;
  grid-template-rows: 40px auto 20px;
  grid-template-areas: 'tabs' 'content' 'results-footer'; }
  .results-pane > div {
    width: 100%; }
  .results-pane > div:nth-child(1) {
    grid-area: tabs;
    user-select: none;
    background-color: #252526;
    margin-left: -4px;
    padding-right: 4px;
    display: flex;
    flex-wrap: wrap; }
    .results-pane > div:nth-child(1) > div.tab {
      min-width: 100px;
      max-width: 400px;
      display: grid;
      grid-template-columns: 20px auto 20px;
      grid-template-rows: 31px;
      padding-left: 10px;
      padding-right: 10px;
      cursor: pointer;
      overflow: hidden;
      border-right: 1px #C5C5C5 solid;
      border-bottom: 1px #C5C5C5 solid; }
      .results-pane > div:nth-child(1) > div.tab > i, .results-pane > div:nth-child(1) > div.tab > span {
        margin: auto;
        margin-bottom: 6px; }
      .results-pane > div:nth-child(1) > div.tab > span.title {
        margin-left: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 360px;
        padding-bottom: 1px; }
      .results-pane > div:nth-child(1) > div.tab > .stripe {
        grid-column: 1/4;
        height: 3px; }
    .results-pane > div:nth-child(1) > div.tab.active:nth-child(1) {
      clip-path: inset(-5px -5px 0px 0px); }
    .results-pane > div:nth-child(1) > div.tab.active {
      color: #252526;
      background-color: #C5C5C5;
      box-shadow: 0px 0px 4px 2px #000000;
      clip-path: inset(-5px -5px 0px -5px); }
      .results-pane > div:nth-child(1) > div.tab.active > i.close {
        visibility: visible; }
    .results-pane > div:nth-child(1) > div.tab:not(.active) > .stripe {
      display: none; }
    .results-pane > div:nth-child(1) > div.tab.active.upper-row {
      clip-path: inset(-5px -5px -5px -5px); }
  .results-pane > div:nth-child(2) {
    height: 100%;
    overflow: hidden; }
  .results-pane > div:nth-child(3) {
    grid-area: results-footer;
    background-color: #095e97;
    color: #ffffff;
    padding-left: 4px;
    margin-left: -4px;
    user-select: none;
    display: grid;
    grid-template-columns: minmax(max-content, auto) min-content min-content;
    grid-template-areas: 'result-info result-time result-rows'; }
  .results-pane > div:nth-child(3) > div:nth-child(1),
  .results-pane > div:nth-child(3) > div:nth-child(2),
  .results-pane > div:nth-child(3) > div:nth-child(3) {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 100%;
    padding-bottom: 3px; }
    .results-pane > div:nth-child(3) > div:nth-child(1) > div,
    .results-pane > div:nth-child(3) > div:nth-child(2) > div,
    .results-pane > div:nth-child(3) > div:nth-child(3) > div {
      line-height: 20px;
      padding-left: 10px;
      padding-right: 10px; }
  .results-pane > div:nth-child(3) > div:nth-child(1) {
    margin-left: -3px; }
    .results-pane > div:nth-child(3) > div:nth-child(1) > div {
      width: fit-content; }
  .results-pane > div:nth-child(3) > div:nth-child(2) > div,
  .results-pane > div:nth-child(3) > div:nth-child(3) > div {
    text-align: end;
    margin-top: 1px; }

#results.pane {
  height: 100%; }
  #results.pane > div.table {
    overflow-y: scroll; }
    #results.pane > div.table > div.th {
      display: table-row; }
    #results.pane > div.table > div.tr {
      display: table-row; }
    #results.pane > div.table > div.th > div.td {
      display: table-cell;
      background-color: #333333;
      padding: 3px;
      border: 2px #8e8e8e outset;
      position: sticky;
      top: 0; }
    #results.pane > div.table > div.tr > div.td {
      display: table-cell;
      padding: 3px;
      border: 2px #8e8e8e outset; }
    #results.pane > div.table > div.tr > div.td.th {
      background-color: #333333; }
  #results.pane > div.table::-webkit-scrollbar {
    width: 16px; }
  #results.pane > div.table::-webkit-scrollbar-track {
    border-radius: 2px;
    background: transparent; }
  #results.pane > div.table::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px #252526;
    border-radius: 2px; }
