//
// BODY
// 
$body-color: default;
@if $theme == "dark" {
    $body-color: #C5C5C5;
} 
@if $theme == "light" {
    $body-color: #1E1E1E;
}
$body-background-color: default;
@if $theme == "dark" {
    $body-background-color: #1E1E1E;
} 
@if $theme == "light" {
    $body-background-color: #C5C5C5;
}

//
// CONTROL
// 
$control-color: default;
@if $theme == "dark" {
    $control-color: #ADADAD;
} 
@if $theme == "light" {
    $control-color: #ADADAD;
}
$control-background-color: default;
@if $theme == "dark" {
    $control-background-color: #333333;
} 
@if $theme == "light" {
    $control-background-color: #333333;
}

//
// FOOTER
// 
$footer-background-color: default;
@if $theme == "dark" {
    $footer-background-color: #007ACC;
} 
@if $theme == "light" {
    $footer-background-color: #007ACC;
}
$footer-color: default;
@if $theme == "dark" {
    $footer-color: #ffffff;
} 
@if $theme == "light" {
    $footer-color: #ffffff;
}
$clickable-footer-background-color: default;
@if $theme == "dark" {
    $clickable-footer-background-color: #1f8ad2;
} 
@if $theme == "light" {
    $clickable-footer-background-color: #1f8ad2;
}

//
// CONNECTION SELECT
// 
$connections-selector-background-color: default;
@if $theme == "dark" {
    $connections-selector-background-color: #16825d;
} 
@if $theme == "light" {
    $connections-selector-background-color: #16825d;
}
$connections-selector-hover-background-color: default;
@if $theme == "dark" {
    $connections-selector-hover-background-color: #329171;
} 
@if $theme == "light" {
    $connections-selector-hover-background-color: #329171;
}

//
// PANEL
// 
$panel-background-color: default;
@if $theme == "dark" {
    $panel-background-color: #252526;
} 
@if $theme == "light" {
    $panel-background-color: #252526;
}
$panel-color: default;
@if $theme == "dark" {
    $panel-color: #C5C5C5;
} 
@if $theme == "light" {
    $panel-color: #C5C5C5;
}

//
// SPLITTER
// 
$splitter-background-color: default;
@if $theme == "dark" {
    $splitter-background-color: #252526;
} 
@if $theme == "light" {
    $splitter-background-color: #C5C5C5;
}
$splitter-border-color: default;
@if $theme == "dark" {
    $splitter-border-color: #333333;
} 
@if $theme == "light" {
    $splitter-border-color: #ebebeb;
}

//
// ACTIVE COLOR
//
$active-color: default;
@if $theme == "dark" {
    $active-color: #ffffff;
} 
@if $theme == "light" {
    $active-color: #252526;
}


//
// SCROLL BAR COLOR
//
$scroll-color: default;
@if $theme == "dark" {
    $scroll-color: #7a7a7a;
} 
@if $theme == "light" {
    $scroll-color: #252526;
}

//
// CONTEXT MENU COLOR
//
$ctx-menu-color: default;
@if $theme == "dark" {
    $ctx-menu-color: #f0f0f0;
} 
@if $theme == "light" {
    $ctx-menu-color: #252526;
}

//
// CONTEXT MENU BACKGROUND COLOR
//
$ctx-menu-bck-color: default;
@if $theme == "dark" {
    $ctx-menu-bck-color: #3c3c3c;
} 
@if $theme == "light" {
    $ctx-menu-bck-color: #f0f0f0;
}

//
// CONTEXT MENU HOVER COLOR
//
$ctx-menu-hover-color: default;
@if $theme == "dark" {
    $ctx-menu-hover-color: #094771;
} 
@if $theme == "light" {
    $ctx-menu-hover-color: #094771;
}


//
// PANEL HEADER BACKGROUND COLOR
// 
$panel-header-background-color: default;
@if $theme == "dark" {
    $panel-header-background-color: #1E1E1E;
} 
@if $theme == "light" {
    $panel-header-background-color: #C5C5C5;
}

//
// PANEL ITEM MOUSE HOVER BACKGROUND COLOR
//
$panel-item-hover-background-color: default;
@if $theme == "dark" {
    $panel-item-hover-background-color: #1e1e1ea1;
} 
@if $theme == "light" {
    $panel-item-hover-background-color: #a0a0a0a0;
}


//
// PANEL ITEM ACTIVE BACKGROUND COLOR
//
$panel-item-active-background-color: default;
@if $theme == "dark" {
    $panel-item-active-background-color: #1E1E1E;
} 
@if $theme == "light" {
    $panel-item-active-background-color: #C5C5C5;
}

//
// PANEL ITEM ACTIVE BORDER COLOR
//
$panel-item-active-border-color: default;
@if $theme == "dark" {
    $panel-item-active-border-color: #c5c5c557;
} 
@if $theme == "light" {
    $panel-item-active-border-color: #c5c5c557;
}

//
// DROP TARGET BACKGROUND COLOR
//
$drop-target-background-color: default;
@if $theme == "dark" {
    $drop-target-background-color: #3b3e41;
} 
@if $theme == "light" {
    $drop-target-background-color: #3b3e41;
}


$results-footer-background-color: default;
@if $theme == "dark" {
    $results-footer-background-color: #095e97;
} 
@if $theme == "light" {
    $results-footer-background-color: #095e97;
}


$grid-headers-background-color: default;
@if $theme == "dark" {
    $grid-headers-background-color: #333333;
} 
@if $theme == "light" {
    $grid-headers-background-color: #333333;
}