.footer {
    grid-area: footer;
    z-index: 1;
    color: $footer-color;
    background-color: $footer-background-color;
    user-select: none;
    display: grid;
    grid-template-columns: 155px       320px 150px   auto    auto auto auto auto   auto auto    27px;
    grid-template-areas:  'connections info  schemas content lang gap1 msg  editor user version feed';

    & > div.clickable {
        cursor: pointer;
    }
    & > div.clickable:hover {
        background-color: $clickable-footer-background-color;
    }

    & > div {
        line-height: 20px;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    & > div.connections {
        grid-area: connections;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $connections-selector-background-color;
        cursor: pointer;
        width: fit-content;
        width: -moz-fit-content;
        max-width: 155px;
        transition-duration: 0.4s;
    }
    & > div.connections:hover {
        background-color: $connections-selector-hover-background-color;
    }
    & > div.info {
        grid-area: info;
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
        width: -moz-fit-content;
        max-width: 340px;
        cursor: initial;
        user-select: text;
        color: $panel-color;
    }
    & > div.info > span::selection {
        background: invert($footer-background-color);
    }
    & > div.info > img {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 5px;
    }

    & > div.schemas {
        grid-area: schemas;
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
        width: -moz-fit-content;
        max-width: 150px;
        transition-duration: 0.4s;
    }
    & > div.schemas > i {
        position: relative;
        top: 1px;
    }

    & > div.feed {
        grid-area: feed;
        text-align: center;
        opacity: 0.5;
        width: 27px;
        transition-duration: 0.4s;
        user-select: none;
    }
    & > div.feed:hover {
        opacity: 1;
    }

    & > & > span.icon-database {
        margin-right: 3px;
    }

    & > div.content {
        grid-area: content;
        opacity: 0.75;
        width: fit-content;
        width: -moz-fit-content;
        padding-left: 10px;
        padding-right: 10px;
    }
    & > div.msg {
        width: fit-content;
        width: -moz-fit-content;
        grid-area: msg;
        margin: auto;
    }
    & > div.editor {
        width: fit-content;
        width: -moz-fit-content;
        grid-area: editor;
        opacity: 0.75;
    }
    & > div.editor > span {
        padding-left: 10px;
        padding-right: 10px;
    }
    & > div.lang {
        grid-area: lang;
        opacity: 0.75;
        width: fit-content;
        width: -moz-fit-content;
        cursor: default;
    }
    & > div.lang > span {
        padding-left: 10px;
        padding-right: 10px;
    }
    & > div.version {
        grid-area: version;
        width: fit-content;
        width: -moz-fit-content;
        opacity: 0.75;
        cursor: default;
    }
    & > div.version > span {
        padding-left: 10px;
        padding-right: 10px;
    }

    & > div.user {
        grid-area: user;
        opacity: 0.75;
        width: fit-content;
        width: -moz-fit-content;
        cursor: default;
    }
    & > div.user > span {
        padding-left: 10px;
        padding-right: 10px;
    }
}

#feed-footer-menu.footer-menu, #schema-footer-menu, #content-footer-menu {
    background-color: $footer-background-color;
}

#conn-footer-menu > .footer-menu-item > span:nth-child(1),
#schema-footer-menu > .footer-menu-item > span:nth-child(1),
#content-footer-menu > .footer-menu-item > span:nth-child(1) {
    position: absolute;
}
#conn-footer-menu > .footer-menu-item > span:nth-child(2),
#schema-footer-menu > .footer-menu-item > span:nth-child(2),
#content-footer-menu > .footer-menu-item > span:nth-child(2) {
    margin-left: 18px;
}
