.footer {
    grid-area: footer;
    color: $footer-color;
    background-color: $footer-background-color;
    user-select: none;
    display: grid;
    grid-template-columns: 155px       300px auto 27px;
    grid-template-areas:  'connections info  gap  feed';

    & > div.clickable {
        cursor: pointer;
    }
    & > div.clickable:hover {
        background-color: $clickable-footer-background-color;
    }

    & > div {
        line-height: 19px;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    & > div.connections {
        grid-area: connections;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $connections-selector-background-color;
        cursor: pointer;
        width: fit-content;
        width: -moz-fit-content;
        max-width: 155px;
    }
    & > div.connections:hover {
        background-color: $connections-selector-hover-background-color;
    }
    & > div.connections > span.icon-database {
        margin-right: 3px;
    }

    & > div.info {
        grid-area: info;
        padding-left: 5px;
    }
    

    & > div.feed {
        grid-area: feed;
        text-align: center;
        opacity: 0.5;
        width: 27px;
    }
    & > div.feed:hover {
        opacity: 1;
    }
}

.footer-menu {
    display: none; 
    position: fixed;
    background-color: $connections-selector-background-color;
    display: grid;
    max-width: 155px;
    width: fit-content;
    width: -moz-fit-content;
    box-shadow: 0 2px 8px #000;
    clip-path: inset(-5px -5px 0 -5px);
}

.footer-menu-item {
    line-height: 1.9em;
    background: none;
    height: 2em;
    align-items: center;
    margin: 1px;
    padding-right: 10px;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.footer-menu-item:hover:not(.disabled) {
    background-color: $ctx-menu-hover-color;
}

#feed-footer-menu.footer-menu {
    background-color: $footer-background-color;
}

#conn-footer-menu > .footer-menu-item > span:nth-child(1) {
    position: absolute;
}
#conn-footer-menu > .footer-menu-item > span:nth-child(2) {
    margin-left: 18px;
}