.footer {
    grid-area: footer;
    color: $footer-color;
    background-color: $footer-background-color;
    user-select: none;
    display: grid;
    grid-template-columns: 155px       320px 150px  auto 27px;
    grid-template-areas:  'connections info  schema gap  feed';

    & > div.clickable {
        cursor: pointer;
    }
    & > div.clickable:hover {
        background-color: $clickable-footer-background-color;
    }

    & > div {
        line-height: 19px;
        height: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow-x: hidden;
    }

    & > div.connections {
        grid-area: connections;
        padding-left: 10px;
        padding-right: 10px;
        background-color: $connections-selector-background-color;
        cursor: pointer;
        width: fit-content;
        width: -moz-fit-content;
        max-width: 155px;
        transition-duration: 0.4s;
    }
    & > div.connections:hover {
        background-color: $connections-selector-hover-background-color;
    }
    & > div.info {
        grid-area: info;
        padding-left: 5px;
        padding-right: 5px;
        width: fit-content;
        max-width: 340px;
        cursor: initial;
        user-select: text;

    }
    & > div.info > span::selection {
        background: invert($footer-background-color);
    }
    & > div.info > img {
        width: 16px;
        height: 16px;
        vertical-align: middle;
        margin-right: 5px;
    }

    & > div.schema {
        grid-area: schema;
        padding-left: 5px;
        padding-right: 5px;
        
        width: fit-content;

        transition-duration: 0.4s;
    }

    & > div.feed {
        grid-area: feed;
        text-align: center;
        opacity: 0.5;
        width: 27px;
        transition-duration: 0.4s;
    }
    & > div.feed:hover {
        opacity: 1;
    }

    & > & > span.icon-database {
        margin-right: 3px;
    }
}

#feed-footer-menu.footer-menu {
    background-color: $footer-background-color;
}

#conn-footer-menu > .footer-menu-item > span:nth-child(1) {
    position: absolute;
}
#conn-footer-menu > .footer-menu-item > span:nth-child(2) {
    margin-left: 18px;
}