.main-panel {
    // content
    & > div:nth-child(2) {
        grid-area: content;
        
        .split-content {
            display: grid;

            & > .main-split {
                background: initial;
                margin-left: -3px;
                padding-right: 3px;
                
                box-shadow: 0px 0px 4px 1px #000000;
                clip-path: inset(-4px 0px 0px 0px);
                
            }
        }

        .content {
            height: 100%;
        }

        /*
        .editor {
        }
        */
    }
}

.focused .current-line-decoration::before {
    content: "\1F418";
    transform: scale(-1, 1);
    text-shadow: 0 0 9px $clickable-footer-background-color;
}

.selection-decoration {
    color: $active-color;
}

