.pgmenu-container {
    position: absolute;
    z-index: 2000;
    box-shadow: 0 2px 8px #000;
    color: $ctx-menu-color;
    background-color: $ctx-menu-bck-color;

    & .pgaction {
        flex: 1 1 auto;
        text-decoration: none;
        line-height: 1.1em;
        background: none;
        height: 2em;
        display: flex !important;
        align-items: center;
        position: relative !important;
        margin: 1px;

        padding-left: 10px !important;
        padding-right: 6px !important;
    }

    & .pgaction:hover:not(.disabled) {
        background-color: $ctx-menu-hover-color;
    }

    & .checked {
        position: absolute;
        left: 5px;
    }
}

.footer-menu {
    display: none; 
    position: fixed;
    background-color: $connections-selector-background-color;
    display: grid;
    max-width: 155px;
    width: fit-content;
    width: -moz-fit-content;
    box-shadow: 0 2px 8px #000;
    clip-path: inset(-5px -5px 0 -5px);
}

.footer-menu-item {
    line-height: 1.9em;
    background: none;
    height: 2em;
    align-items: center;
    margin: 1px;
    padding-right: 10px;
    padding-left: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.footer-menu-item:hover:not(.disabled) {
    background-color: $ctx-menu-hover-color;
}