.main-panel {
    // tabs
    & > div:nth-child(1) {
        grid-area: tabs;
        user-select: none;
        background-color: $panel-background-color;
        margin-left: -4px;
        padding-right: 4px;
        display: flex;
        flex-wrap: wrap;

        // tab
        & > div.tab {
            transition-duration: 0.2s;
            min-width: 100px;
            max-width: 400px;
            display: grid;
            grid-template-columns: 20px auto 20px;
            grid-template-rows: 31px;
            padding-left: 10px;
            padding-right: 10px;
            cursor: pointer;
            overflow: hidden;
            border-right: 1px $panel-header-background-color solid;
            border-bottom: 1px $panel-header-background-color solid;

            & > i, & > span {
                margin: auto;
                margin-bottom: 6px;
            }
            // tab text
            & > span.title {
                margin-left: 5px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 360px;
                padding-bottom: 1px;
            }

            & > i.close {
                align-self: end;
                font: inherit;
                visibility: hidden;
                font-size: 14px;
            }
            & > i.close:hover {
                visibility: visible;
            }
            & > .stripe {
                grid-column: 1/4;
                height: 3px;
                //background-color: #21394e;
            }
        }
        & > div.tab:hover {
            & > i.close {
                visibility: visible;
            }
        }
        & > div.tab.active:nth-child(1) {
            clip-path: inset(-5px -5px 0px 0px);
        }
        & > div.tab.active {
            color: $active-color;
            background-color: $panel-item-active-background-color;
            box-shadow: 0px 0px 4px 2px #000000;
            clip-path: inset(-5px -5px 0px -5px);
            & > i.close {
                visibility: visible;
            }
        }
        & > div.tab.sticky {
            & > span.title,
            & > i::before {
                font-style: italic;
                width: 100%;
            }
        }
        & > div.tab.active.upper-row {
            clip-path: inset(-5px -5px -5px -5px);
        }
    }
}
