.toolbar {
    grid-area: toolbar;
    color: $control-color;
    background-color: $control-background-color;
    height: 100%;
    display: grid;
    grid-template-rows: 4px 42px 42px 42px 42px 42px auto 42px 4px;
    grid-template-areas: 'gap1' 'scripts' 'tables' 'views' 'routines' 'search' 'gap2' 'pgcode' 'gap3';
    row-gap: 12px;
    user-select: none;
    overflow-y: overlay;

    & > div {
        align-self: center;
        text-align: center;
        cursor: pointer;
        position: relative;
        transition-duration: 0.4s;
    }
    & > div.active, & > div.active > div {
        color: $active-color;
    }
    & > div.active > div.marker {
        display: block;
    }
    & > div > div.lbl {
        font-size: 10px;
    }
    & > div > div.marker {
        top: -4px;
        left: 0;
        height: calc(100% + 4px);
        width: 2px;
        background-color: $active-color;
        display: none;/*block;*/
        position: absolute;
    }
    & > div > div.count {
        display: block;
        position: absolute;
        top: 15px;
        font-size: 10px;
        background-color: $control-color;
        color: $control-background-color;
        right: 6px;
        border-radius: 50%;
        padding: 2px;
        text-align: center;
        width: 10px;
        height: 10px;
        border: 1px $control-background-color solid;
        transition-duration: 0.4s;
    }
    & > div.active > div.count, & > div:hover > div.count {
        background-color: $active-color;
    }
    & > div:hover {
        color: $active-color;
    }
    & > div.btn-scripts {
        grid-area: scripts;
        font-size: 28px;
    }
    & > div.btn-tables {
        grid-area: tables;
        font-size: 28px;
    }
    & > div.btn-views {
        grid-area: views;
        font-size: 28px;
    }
    & > div.btn-routines {
        grid-area: routines;
        font-size: 28px;
    }
    & > div.btn-search {
        grid-area: search;
        font-size: 28px;
    }
    & > div.btn-pgcode {
        grid-area: pgcode;
        font-size: 28px;
    }
}

.toolbar.right {
    & > div > div.marker {
        right: 0;
        left: initial;
    }
}

.toolbar.docked {
    & > div.active:not(.btn-pgcode), & > div.active > div {
        color: $control-color;
    }
    & > div.active > div.count {
        background-color: $control-color;
        color: $control-background-color;
    }
    & > div.active:not(.btn-pgcode) > div.marker {
        display: none;
    }
} 

.toolbar::-webkit-scrollbar {
    width: 3px;
}
.toolbar::-webkit-scrollbar-track {
    border-radius: 2px;
    background: transparent;
}
.toolbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px $scroll-color;
    border-radius: 2px;
} 