.toolbar {
    grid-area: toolbar;
    color: $control-color;
    background-color: $control-background-color;
    height: 100%;
    display: grid;
    grid-template-rows: 4px 42px 42px 42px 42px 42px auto 42px 4px;
    grid-template-areas: 'gap1' 'docs' 'tables' 'views' 'funcs' 'search' 'gap2' 'pgcode' 'gap3';
    row-gap: 12px;
    user-select: none;
    overflow-y: overlay;

    & > div {
        align-self: center;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    & > div.active, & > div.active > div {
        color: $active-color;
    }
    & > div.active > div.marker {
        display: block;
    }
    & > div > div.lbl {
        font-size: 9px;
    }
    & > div > div.marker {
        top: -4px;
        left: 0;
        height: calc(100% + 4px);
        width: 2px;
        background-color: $active-color;
        display: none;/*block;*/
        position: absolute;
    }
    & > div:hover {
        color: $active-color;
    }
    & > div.btn-docs {
        grid-area: docs;
        font-size: 28px;
    }
    & > div.btn-tables {
        grid-area: tables;
        font-size: 28px;
    }
    & > div.btn-views {
        grid-area: views;
        font-size: 28px;
    }
    & > div.btn-funcs {
        grid-area: funcs;
        font-size: 28px;
    }
    & > div.btn-search {
        grid-area: search;
        font-size: 28px;
    }
    & > div.btn-pgcode {
        grid-area: pgcode;
        font-size: 28px;
    }
}

.toolbar.docked {
    & > div.active, & > div.active > div {
        color: $control-color;
    }
    & > div.active > div.marker {
        display: none;
    }
} 

.toolbar::-webkit-scrollbar {
    width: 3px;
}
.toolbar::-webkit-scrollbar-track {
    border-radius: 2px;
    background: transparent;
}
.toolbar::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 5px $scroll-color; 
    border-radius: 2px;
} 