.toolbar {
    grid-area: toolbar;
    color: $control-color;
    background-color: $control-background-color;
    height: 100%;
    display: grid;
    grid-template-rows: 0px 14px 42px 42px 42px 42px 42px auto 42px 4px;
    grid-template-areas: 'gap1' 'schema' 'docs' 'tables' 'views' 'funcs' 'search' 'gap2' 'psql' 'gap3';
    row-gap: 6px;
    user-select: none;

    & > div {
        align-self: center;
        text-align: center;
        cursor: pointer;
        position: relative;
    }
    & > div.active, & > div.active > div {
        color: $active-color;
    }
    & > div > div.lbl {
        font-size: 9px;
    }
    & > div > div.marker {
        top: -4px;
        left: 0;
        height: calc(100% + 4px);
        width: 2px;
        background-color: $active-color;
        display: none;/*block;*/
        position: absolute;
    }
    & > div.active > div.marker {
        display: block;
    }
    & > div:hover {
        color: $active-color;
    }

    & > div.select-schema {
        grid-area: schema;
        font-size: 10px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 2px;
        background-color: $panel-background-color;
        height: 100%;
        line-height: 14px;
    }
    & > div.btn-docs {
        grid-area: docs;
        font-size: 28px;
    }
    & > div.btn-tables {
        grid-area: tables;
        font-size: 28px;
    }
    & > div.btn-views {
        grid-area: views;
        font-size: 28px;
    }
    & > div.btn-funcs {
        grid-area: funcs;
        font-size: 28px;
    }
    & > div.btn-search {
        grid-area: search;
        font-size: 28px;
    }
    & > div.btn-psql {
        grid-area: psql;
        font-size: 28px;
    }
}
